{% extends "base.html" %}

{% block head %} <title>Welcome</title> {% endblock %}

{% block body %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
        <h1>Log In:</h1><br>
        <form action="/" method="POST">
            <div class="form-group">
                <label for="user">UserName:</label>
                <input class="form-control" id="user" name="user">
            </div><br>
            <div class="form-group">
                <label for="pass">Password:</label>
                <input class="form-control" id="pass" name="pass">
            </div><br>
            <button type="submit" class="btn btn-success mb-2">Log In</button>
            <a href="/NewUser" role="button" style="color: white;" aria-pressed="true" class="btn btn-dark mb-2">Register User</a>
        </form>
        </div>
    </div>
    </main>
{% endblock %}
