{% extends "base.html" %}

{% block head %} <title>Main</title> {% endblock %}

{% block body %}

    <main role="main">
    <div class="jumbotron">
        <div class="container">
        <h1>New Post:</h1><br>
        <form action="/{{userName}}" method="POST">
            <div class="form-group">
                <label for="Title" style="font-size: large;">Title:</label>
                <input class="form-control" id="title" name="title" placeholder="Enter Title">
            </div><br>
            <div class="form-group">
                <label for="content" style="font-size: large;">Text:</label>
                <textarea class="form-control" id="content" name="content" rows="3" placeholder="Enter Main Text"></textarea>
            </div><br>
            <button type="submit" class="btn btn-primary mb-2">Post</button>
        </form>
        </div>
    </div>
    </main>
    <hr><hr>

    <h1>All Posts: </h1>
    {% for p in allPosts %}
    <b style="font-size: x-large;">{{ p[0] }}
        {{ " : "+p[1] }}
    </b>
    <br>

    <p style="font-size: large; white-space: pre-wrap;">{{ p[3] }}</p>

    <br>
    <a class="btn btn-danger btn-sm" style="font-size: small;" href="/delete/{{userName}}/{{p[0]}}">Delete</a>
    <a class="btn btn-primary btn-sm" style="font-size: small;" href="/edit/{{userName}}/{{p[0]}}">Edit</a>
    •
    <i>{{ "by "+p[2] }}</i>
    {{ " posted at" }}
    {{ p[4] }}
    
    <br>
    <hr>
    {% endfor %}

{% endblock %}

{% block mainfooter %}
    <footer class="page-footer">
        <div class="footer-copyright text-center py-3">Contact Us
            <br>
            <a href="https://github.com/abhibhargav29" style="color:white" target="_blank">Github</a>
            •
            <a href="https://www.facebook.com/abhi.bhargav.29/" style="color:white" target="_blank">Facebook</a>
            •
            <a href="https://www.linkedin.com/in/abhibhargav29-48196/" style="color:white" target="_blank">LinkedIn</a>
        </div>
    </footer>
{% endblock %}