{% extends "base.html" %}

{% block head %} <title>Edit</title> {% endblock %}

{% block body %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
        <h1>Edit Post:</h1><br>
        <form action="/edit/{{userName}}/{{postp[0][0]}}" method="POST">
            <div class="form-group">
                <label for="Title">Title:</label>
                <input class="form-control" id="title" name="title" value="{{postp[0][1]}}">
            </div><br>
            <div class="form-group">
                <label for="content">Text:</label>
                <textarea class="form-control" id="content" name="content" rows="3">{{postp[0][3]}}</textarea>
            </div><br>
            <button type="submit" class="btn btn-primary mb-2">Post</button>
        </form>
        </div>
    </div>
    </main>
{% endblock %}
